<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breakfast Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Breakfast Menu</h1>
    </header>
    <main>
        <div class="meal-options">
            <div class="meal">
                <img src="../static/images/meal1.jpg" alt="bread and eggs">
                <p>bread and eggs - 200 KES</p>
                <button onclick="addMeal('bread and eggs', 200)">Add</button>
            </div>
            <div class="meal">
                <img src="../static/images/meal2.jpg" alt="pancakes">
                <p>pancakes - 200 KES</p>
                <button onclick="addMeal('pancakes', 200)">Add</button>
            </div>
            <div class="meal">
                <img src="../static/images/meal3.jpg" alt="bacon and eggs">
                <p>bacon and eggs - 200 KES</p>
                <button onclick="addMeal('bacon and eggs', 200)">Add</button>
            </div>
        </div>
        <a href="/" class="back-button">Back to Home</a>
    </main>
</body>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</html>