<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lunch Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Lunch Menu</h1>
    </header>
    <main>
        <div class="meal-options">
            <div class="meal">
                <img src="../static/images/meal4.jpg" alt="rice and chicken">
                <p>rice and chicken - 800 KES</p>
                <button onclick="addMeal('rice and chicken', 800)">Add</button>
            </div>
            <div class="meal">
                <img src="../static/images/meal5.jpg" alt="chapati and beans">
                <p>chapati and beans - 1000 KES</p>
                <button onclick="addMeal('chapati and beans', 1000)">Add</button>
            </div>
            <div class="meal">
                <img src="../static/images/meal6.jpg" alt="ugali and beef">
                <p>ugali and beef - 600 KES</p>
                <button onclick="addMeal('ugali and beef', 600)">Add</button>
            </div>
        </div>
        <a href="/" class="back-button">Back to Home</a>
    </main>
</body>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</html>